@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --green: #06ce78;
    --gray: #2f372c;
    --light-gray: #50554e;
}

* { 
    font-family: 'Poppins', sans-serif;
}


#navLogo img{
    max-height: 80px !important;
} 

#navbar {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
    height: 5rem;
}

#navLinks {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

#navLinks a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
}

#navLinks a:hover {
    text-decoration: underline;
    text-underline-position: from-font;
}
#menu {
    background: transparent;
    border: none;
    display: none;
    color: var(--text-color);
}

#navLogo{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 5px;
}
#sidebar {
    display: flex;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    padding: 3rem;
    flex-direction: column;
    row-gap: 2rem;
    background: #edeae5;
    transition: all 0.5s;
    box-shadow: 100rem 0 0 200rem #2c181000;
}


#menu:focus ~ #sidebar {
    box-shadow: 100rem 0 0 200rem #2c181099;
    left: 0;
}

#sidebar:active {
    box-shadow: 100rem 0 0 200rem #2c181099;
    left: 0;
}


#sidebar a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-sans);
    font-size: 1.25rem;

}
#cardbody{
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
/*     padding: 50px; */
    padding-top: 10px;
    margin:0;
}
#containercard{
    margin: 20px;
    display: flex;
    direction: row;
    justify-content: center;
    text-wrap: wrap;

}
#vp{
    display: flex;
    justify-content: center;
}
#card{
    margin-top: 25px;
    width: 250px;
    height: 350px;
    text-align: center;
    box-shadow: 20px 20px 80px -16px rgba(128, 128, 128, 0.308);
    border-radius: 16px;
    margin-left: 50px;
}
/* #card:hover{
    padding-top: 10px;
    width: 250px;
    height: 350px;
    text-align: center;
    box-shadow: 20px 20px 80px -16px rgba(128, 128, 128, 0.308);
    border-radius: 16px;
  transition:ease-in;
  border: 2px #06ce78 solid;
} */
#heading{
    border-bottom: 5px #06ce78 solid;
    width: 260px;
    color: #06ce78;
}
#photo{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    height: 150px;
}
#circle{
    top: 10px;
    height: 150px;
    width: 150px;
    z-index: 3;
    border-radius: 50%;
    border: #06ce78 solid;
    background-size: contain;
}
/* #footerSocials {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    column-gap: 1rem;
}

#footerSocials a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
    background: var(--green);
    border-radius: 0.5rem;
    margin-top: 1rem;
    transition: all 0.2s;
}

#footerSocials a:hover {
    transform: scale(1.1);
}

#footerSocials a img {
    height: 0.9rem;
    width: 0.9rem;
    object-fit: contain;
}

#footerContainer {
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#footer {
    padding: 3rem 4rem;
    width: max-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#footerLinks {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    border-bottom: solid #ddd2 0.1rem;
    column-gap: 6rem;
}

#newsletter {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
}

#newsletter span {
    color: white;
    font-size: 0.9rem;
    opacity: 0.5;
}

#newletterSub {
    display: flex;
    flex-direction: row;
    border-radius: 4rem;
    height: 2.5rem;
    margin: 1rem 0;
    background-color: white;
    overflow: hidden;
}

#newletterSub input[type=email] {
    width: 100%;
    padding: 0 1.5rem;
    height: 2.5rem;
    margin: 0;
    border: none;
    outline: navajowhite;
    font-weight: 600;
}

#newletterSub input[type=email]::placeholder {
    font-weight: 500;
    color: var(--light-gray);
}

#newletterSub input[type=email] {
    width: 100%;
}

#newletterSub input[type=button] {
    padding: 0 2rem;
    color: white;
    border: none;
    background: var(--green);
    border-radius: 4rem;
    font-weight: 500;
    cursor: pointer;
}

.footerLinksBlock {
    display: flex;
    flex-direction: column;
}

.footerLinksBlock > span:nth-child(1) {
    color: white;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.footerLinksBlock a {
    color: #fff8;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.footerLinksBlock a:hover {
    text-decoration: underline;
    color: #fffc;
    text-underline-position: from-font;
}

#address span.material-symbols-outlined {
    color: var(--green);
    font-variation-settings:
    'FILL' 1,
    'wght' 900,
    'GRAD' 0,
    'opsz' 24;
    font-size: 1.2rem;
    transform: translate(-0.1rem, 0.25rem);

}

#address span {
    color: #fff8;
    font-size: 0.9rem;
    font-weight: 400;
}


#footerSocials2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    column-gap: 1rem;
}

#footerSocials2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
    background: var(--green);
    border-radius: 0.5rem;
    margin-top: 1rem;
    transition: all 0.2s;
}

#footerSocials2 a:hover {
    transform: scale(1.1);
}

#footerSocials2 a img {
    height: 0.9rem;
    width: 0.9rem;
    object-fit: contain;
}
 */

#footerContainer {
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-button:2.5rem;
}

#footer {
    
    padding: 1rem 2rem;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footerLinks {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    border-bottom: solid #ddd2 0.1rem;
    column-gap: 6rem;
    justify-content: space-between;
}

#newsletter {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    align-self:flex-start;
    margin-left: 10%;
}

#newsletter span {
    color: white;
    font-size: 0.9rem;
    opacity: 0.5;
}

#newletterSub {
    display: flex;
    flex-direction: row;
    border-radius: 4rem;
    height: 2.5rem;
    margin: 1rem 0;
    background-color: white;
    overflow: hidden;
}

#newletterSub input[type=email] {
    width: 100%;
    padding: 0 1.5rem;
    height: 2.5rem;
    margin: 0;
    border: none;
    outline: navajowhite;
    font-weight: 600;
}

#newletterSub input[type=email]::placeholder {
    font-weight: 500;
    color: var(--light-gray);
}

#newletterSub input[type=email] {
    width: 100%;
}

#newletterSub input[type=button] {
    padding: 0 2rem;
    color: white;
    border: none;
    background: var(--green);
    border-radius: 4rem;
    font-weight: 500;
    cursor: pointer;
}

.footerLinksBlock {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 20%;
    color: white;
    size: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.footerLinksBlock > span:nth-child(1) {
    color: white;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.footerLinksBlock a {
    color: #fff8;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.footerLinksBlock a:hover {
    text-decoration: underline;
    color: #fffc;
    text-underline-position: from-font;
}

#address span.material-symbols-outlined {
    color: var(--green);
    font-variation-settings:
    'FILL' 1,
    'wght' 900,
    'GRAD' 0,
    'opsz' 24;
    font-size: 1.2rem;
    transform: translate(-0.1rem, 0.25rem);

}

.tagline_responsive{
    display:none;
}

#address span {
    color: #fff8;
    font-size: 0.9rem;
    font-weight: 400;
}

#footerSocials {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    column-gap: 1rem;

}

#footerSocials a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
    background: var(--green);
    border-radius: 0.5rem;
    margin-top: 1rem;
    transition: all 0.2s;
}

#footerSocials a:hover {
    transform: scale(1.1);
}

#footerSocials a img {
    height: 0.9rem;
    width: 0.9rem;
    object-fit: contain;
}
.footerContainerRes{
    display:none;
}

@media screen and (max-width: 900px) {
    :root{
        font-size: small;
    }
}
@media screen and (max-width: 768px) {
    #menu {
        background: transparent;
        border: none;
        display: flex;
        color: var(--text-color);
    }
    #navLinks {
        display: none;
        flex-direction: row;
        column-gap: 2rem;
    }
    #containercard{
        flex-wrap: wrap;
    }

/*     #footerContainer {
        width: 100%;
        background: black;
        display: none;
        flex-direction: column;
        align-items: center;
    } */
    #vp{
        text-align: center;
    }
    #navLogo img{
        position:absolute;
        right:0%;
        height:40px;
        top:15%;
        max-width:120px;
    
    }

    #card{
        margin-top: 25px;
        width: 250px;
        height: 350px;
        text-align: center;
        box-shadow: 20px 20px 80px -16px rgba(128, 128, 128, 0.308);
        border-radius: 16px;
        margin-left: 0px;
    }

    #footerContainer {
    width: 100%;
    background: black;
    display: none;
    flex-direction: column;
    /* align-items: center; */
}

#footerLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    border-bottom: solid #ddd2 0.1rem;
    column-gap: 6rem;
    justify-content: space-between;
}

.tagline{
    display:none;
}
.tagline_responsive{
    display:flex;
    color:white;
    font-size:0.8rem;
    position:relative;
    left:6%;
}

#newsletter{
    position: absolute;
    left: 16%;

}

#newsletter img{
    width:50vw;
    height:15vh;
}

#footer{
    width:100%;
}

.footerLinksBlock {
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    align-items: center;
    max-width: 100%;
    color: white;
    size: 20px;
}


.footerContainerRes{
        display: flex;
        width:100%;
        color:white;
        background:black;
        flex-direction:column;
        justify-content: center;

    }
    .shareimg{
        background: url(assets/Logo_Share_2.png);
        width:40vw;
        position:relative;
        left:30%;
        display:inline-block;
        margin:0;
        height:90px;
   

    background-size: 90% 100%; /* Ensure the background image covers the entire div */
    background-position: center; 
    background-repeat: no-repeat;
        


    }

    .taglinelineres{
        margin-top:1rem;
        margin-bottom:1rem;
        color:white;
        font-weight: 30;
        text-align: center;
        width:100%;
        
    }
    .contupbutton{
        width:100%;
        color:white;
        justify-content: space-between;
        text-align: center;
        margin-bottom:1rem;
    }
    .contupbutton a {
        color:var(--green);
    }
    /* .updates,.buttonupdate{
        display: inline-block;
    }
    .updates{
       text-align: center;
    } */

    
    .footerContainerRes a{
       color:#ddd;
       text-decoration: none;

    }
    .last{
        display: flex;
        width:100%;
        flex-direction: row;
    }

    .quick{ 
        width:50vw;
        align-items: center;
        justify-content: center;
        text-align: center;
       

    }
    .office{
        width:50vw;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right:2rem;
    }
    .line{
        margin-top:1rem;
        width:90vw;
        height:2px;
        background-color: #ddd;
        position: relative;
        left:5%;
    }
    .iconslast{
        align-items: center;
        justify-content: center;
        text-align:center;
        letter-spacing: 1rem;
        font-size:2rem;
    }

    .iconslast a{
        color:var(--green) !important;
    }

    
}
